  //=========== profile icon ===========
  #dropdown-basic-button {
    //   all: unset;
    --size: 40px;
    outline: 0;
    width: var(--size);
    height: var(--size);

    border-radius: 100%;
    background-size: cover;
    background-position: center;
    //   border: 0;

    &::after {
      display: none;
    }
  }

  //=========== Profile icon -> Drop Down ===========
  .dropDownMenu--profile {
    .dropdown-item:hover {
      background: pink;
    }

    .auth-btn {
      font-weight: 700;
    }

    .iconfont {
      margin-right: 0.8rem;
    }
  }
.dropdown-menu {
  transform: translate(-150px, 42px) !important;
}
