.demo-section {
  padding: 106px 0 0;
  position: relative;
  overflow: hidden;
}

.section-title {
  font-size: 4rem;
  margin-left: 8%;
  margin-bottom: 4rem;
  color: gray;
}

.float-circle-small {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(to top right, #849dc5, #5678af);
  border-radius: 100%;

  position: absolute;

  z-index: 1;

  &:nth-of-type(1) {
    top: 10%;
    left: 10%;
  }
  &:nth-of-type(2) {
    top: 35%;
    right: 10%;
  }
  &:nth-of-type(3) {
    top: 65%;
    left: 20%;
  }
  &:nth-of-type(4) {
    top: 80%;
    right: 20%;
  }
}

.float-circle-big {
  --size: 90px;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(to top right, #849dc5, #5678af);
  border-radius: 100%;

  animation: zoomInOut 2.5s ease-in-out infinite backwards;

  position: absolute;

  &--1 {
    top: 35%;
    right: 12%;
  }
  &--2 {
    top: 64%;
    left: 15%;
  }
}

@keyframes zoomInOut {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
