// ======================= application-wrapper =====================
.application-wrapper {
  display: grid;
  width: 70%;
  max-width: 600px;

  --app-size: 90px;

  justify-content: center;

  grid-template-columns: repeat(auto-fit, var(--app-size));
  grid-auto-rows: var(--app-size);
  // grid-auto-rows: 200px;
  row-gap: 1rem;
}

.app1 {
  background: red;
}

@media screen and (min-width: 602px) {
  .application-wrapper {
    --app-size: 100px;
  }
}
@media screen and (min-width: 810px) {
  .application-wrapper {
    --app-size: 120px;
  }
}
