.Cart-Page {
  background: var(--mainpage-bg);
  min-height: calc(100vh - var(--nav-height));
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  // =============== cart content main ==================
  .cart-content-main {
    width: 90%;
    max-width: 1300px;
    // border: 2px solid;
    display: flex;
    flex-direction: column;

    @media screen and(min-width: 800px) {
      width: 75%;
      flex-direction: row;
      -moz-column-gap: 2em;
      // column-gap: 2em;
    }

    // ============== Left side ==============
    .left-side {
      @media screen and(min-width: 800px) {
        width: 70%;
        margin-right: 2em;
      }
      .app-in-cart,
      .recently-whishlisted {
        font-size: 1.1rem;
      }
      // ============== cartItems-wrapper ==============

      .cartItems-wrapper {
        border: 1px solid rgba(128, 128, 128, 0.13);
        margin-top: 1em;
        margin-bottom: 1em;
        .empty-cartItems-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 300px;
          padding: 0 1em;

          .icon-cart {
            font-size: 6rem;
          }
        }
      }

      // ============== wishlist-wrapper ==============
      .wishlist-wrapper {
        border: 1px solid rgba(128, 128, 128, 0.13);
        margin-top: 1em;
        margin-bottom: 1em;
      }
      // ============== empty wishlist ==============
      .empty-wishlist-text {
        margin-top: 1em;
        font-size: 0.9rem;
        color: var(--gray3);
      }
    }

    // ============== Right side ==============
    .right-side {
      order: -1;

      @media screen and(min-width: 800px) {
        order: initial;
        width: 30%;
      }
      // border: 2px solid gold;
      // ============== Payment Block ==============
      .payment-info {
        display: flex;
        flex-direction: column;
        .total-price-text {
          margin-bottom: 1em;
          .dollar-price-text {
            font-size: 2rem;
            font-weight: 700;
            @media screen and(min-width: 800px) {
              display: block;
            }
            .price-text {
              padding-left: 0.1em;
            }
          }
        }
        .btn--checkout {
          all: unset;
          text-align: center;
          background: var(--red-dark);
          color: white;
          font-weight: 700;
          padding: 0.7em 0;
          cursor: pointer;
          margin-bottom: 0.5em;

          &:hover {
            background: var(--red);
          }

          &.disabled {
            background: var(--gray2);
          }
        }
      }

      hr {
        margin-bottom: 1em;
      }
    }
  }
}
