.Wishlist-page {
  display: flex;
  flex-direction: column;

  /* ========================== heading ========================== */

  /* ========================== content main ========================== */
  .wishlist-content-main {
    // border: 2px solid red;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);

    justify-content: center;

    gap: 2rem;

    .appItem-for-wishlistPage.wishlist-max849 {
      display: none;
    }

    @media screen and (max-width: 849px) {
      display: flex;
      flex-direction: column;
      width: 100%;

      .appItem-for-wishlistPage.wishlist-max849 {
        display: initial;
      }

      .wishlist-min850 {
        display: none;
      }
    }

    /* ========================== wishlist item Card ========================== */
    .card-wishlistItem {
      position: relative;
      box-shadow: 2px 4px 40px rgba(19, 15, 235, 0.1);
      transition: box-shadow 0.4s ease-in-out;

      cursor: pointer;

      --borderRadius: 10px;
      border-radius: var(--borderRadius);

      &:hover {
        box-shadow: 0px 0px 0px 1px #ade1c7;
        border: 1px solid #ade1c7;
        transition: all linear 0.1s;
      }
      /* ========== wishlist item image =========== */
      .img-wrapper {
        width: 100%;

        .img-app {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: var(--borderRadius);
          border-top-right-radius: var(--borderRadius);
        }
      }

      /* ====================== card-bottom-part ====================== */
      .card-bottom-part {
        padding: 1em;
        /* ========== wishlist item info text =========== */
        .wishlistItem-title {
          font-size: 1.4rem;
          font-weight: 700;
          color: var(--blue-dark);
        }
        .wishlistItem-creator {
          font-size: 0.9rem;
          color: var(--blue-light);
        }

        /* ====================== btn + price: Flex ====================== */

        .btn-and-price {
          display: flex;
          justify-content: space-between;
          margin-top: 3em;
          /* ========== btn - to cart =========== */
          .btn-addToCart {
            all: unset;
            font-size: 0.8rem;
            padding: 0.4em 1em;
            background: var(--blue);
            color: white;
            cursor: pointer;
            user-select: none;
          }
          /* ========== price text =========== */
          .total-price-text {
            font-weight: 700;
            font-size: 1.8rem;

            .price-text {
              margin-left: 0.1em;
            }
          }
        }
        /* ====================== element - absolute ====================== */
      }
      .fa-heart {
        position: absolute;
        color: red;
        top: 5%;
        right: 5%;
        font-size: 1.2rem;
      }
    }
  }

  /* =============== Render 3: EMPTY wishlist ================= */
  .empty-wishlist-wrapper {
    height: 50vh;
    width: 100%;
    padding: 2em;
    text-align: center;
    // border: 2px solid;
    display: grid;
    place-content: center;
    align-items: center;

    h1 {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
    }

    .icon-Empty {
      font-size: clamp(4rem, 8vw, 8rem);
    }
  }
}
