.header {
  height: var(--nav-height);

  width: 100vw;

  position: relative;
  z-index: 5;
}

//=========== Nav ===========

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: var(--clr-nav);
}

//=========== List ===========

.list {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

//=========== profile icon ===========
#dropdown-basic-button {
  //   all: unset;
  --size: 40px;
  outline: 0;
  width: var(--size);
  height: var(--size);

  border-radius: 100%;
  background-size: cover;
  background-position: center;
  //   border: 0;

  &::after {
    display: none;
  }
}

//=========== Profile icon -> Drop Down ===========
.dropdown-item:hover {
  background: pink;
}

.auth-btn {
  font-weight: 700;
}

.iconfont {
  margin-right: 0.8rem;
}

//=========== Tooltips ===========
#langTip {
  background: var(--gray4);
  font-family: "Roboto", sans-serif;
}
