.application-overview {
  background: var(--mainpage-bg);
  //   min-height: calc(100vh - var(--nav-height));
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    border-bottom: 1px solid rgba($color: #535151, $alpha: 0.3);
    width: 80vw;

    .title {
      margin-bottom: 50px;
      text-align: center;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: 700;
    }
  }
}
