// =================== Links ===================
.link {
  &:hover {
    text-decoration: none;
  }
}

.application-item {
  cursor: pointer;

  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;

  font-size: 0.8rem;
  font-weight: 700;

  height: 100%;
  width: 100%;

  &:hover {
    background: rgba(222, 222, 223, 0.3);

    & .link-text {
      text-decoration: none;
    }
  }

  .img--todolist,
  .img--coloors,
  .img--cmConverter {
    --img-size: 50px;
    @media screen and (min-width: 810px) {
      --img-size: 60px;
    }
    width: 100%;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: var(--img-size);
    width: var(--img-size);
  }

  .img--cmConverter {
    border: 1px solid var(--blue);
  }
}

.link-text {
  color: var(--gray4);
  text-decoration: none;
}
