.float-nav {
  --clr: var(--gray0);
  --clr: pink;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  background: var(--float-nav-bg);

  color: var(--clr);

  z-index: 8;
  display: flex;
  flex-direction: column;

  align-content: center;

  justify-content: center;

  opacity: 0;

  clip-path: circle(20px at 100% -20%);

  transition: all 1s ease-in-out, opacity 0ms 1s;

  &.active {
    clip-path: circle(2500px at 100% -10%);
    transition: all 1s ease-in-out, opacity 0ms;
    opacity: 1;
  }
}

// ==================== Nav left side =====================

.float-nav-list {
  text-align: center;
}

.float-nav-item {
  padding: 1rem 0;
  margin: 0;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  color: var(--clr);
  display: block;

  &:nth-child(3) {
    margin-bottom: 2rem;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .float-nav {
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
  }

  .float-nav-item {
    padding: 2rem 0;
  }
}
