.custom-tag {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 4px;

  color: white;
  font-weight: 700;
  font-size: clamp(0.8rem, 1vw, 1rem);
  letter-spacing: 1.2px;

  margin-right: 0.8em;
}
